.input{
    border-color: red;
    height: 35px;
    border-radius: 13px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    outline: none;
}

.label{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}