.header {
  background: #fc3434;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 50px;
}

.logout{
  margin: 0px 15px;
  list-style: none;
}

.img {
  width: 300px;
  height: 150px;
}

.menu {
  display: flex;
}

.items {
  list-style: none;
  color: white;
  font-size: 26px;
  margin: 0px 15px;
}

.space{
  list-style: none;
  color: white;
  font-size: 26px;
}

a {
    text-decoration: none;
}

a:visited {
  color: white;
}


@media (max-width: 850px) {
  .header {
    flex-direction: column;
  }

  .logo {
    margin-left: 0px;
  }

  .items:last-child {
    margin-right: 0px;
  }

  .space{
    display: none;
  }
}

@media(max-width:500px){
  .menu{
    flex-direction: column;
  }
}
